{% extends "base.html" %}

{% block content %}

<!--Main layout-->
<main class="my-5">
    <div class="container">    
    <!--Start section-->
      <div class="row">
        {% for post in posts %}
      
        <div class="card mx-auto w-50 h-25 m-2 col-md-auto" style="width: 18rem;">
          <img src="{{post.image.url}}" width="200px" height="400px" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url "like_post" post.id %}" class="focus-ring focus-ring-danger">❤️{{post.post_like.count}}</a>
            <h5 class="card-title">{{post}}</h5>
            <p class="card-text">{{post.content}}</p>
            <a href="{% url "single" post.id %}" class="btn btn-primary">Batafsil</a>
          </div>
        </div>
      
      {% endfor %}
       {% comment %} </div>
      

     <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  
{% endcomment %}
</main>
{% endblock content %}


